.todo-create {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width:100%;
  position: relative;
  z-index: 1;
  height:45px
}



.todo-text  input {
  width: 95%;
  height: 45px;
  border: 0px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  font-family: 'Balsamiq Sans', cursive;
}

.todo-text  input:focus {
  outline: none;
}

.todo-create-pencil-btn{
  position: absolute;
  right:-5%;
  top:-17%;
  z-index: 0;
}

 #create-todo-btn-id {
  background-color: #eddf91
}

.todo-create-pencil-btn:hover{
  z-index: 2;
  transform: scale(1.1) rotateZ(-45deg);
}

.fa-pencill:hover {
  transform: rotateZ(-45deg);
}
