.todo-create {
  background-color: white;
  height:5vh;
  border: 1px solid black;
  border-radius: 10px;
  width:100%;
  position: relative;
  z-index: 1
}

.todo-text {
  width:100%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.todo-text  input {
  width: 95%;
  height:4.8vh;
  border: 0px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  font-family: 'Balsamiq Sans', cursive;
}

.todo-text  input:focus {
  outline: none;
}

.todo-create-pencil-btn{
  position: absolute;
  right:-10%;
  top:-15%;
  z-index: 0;
}

.todo-create-pencil-btn:hover{
  z-index: 2;
  transform: scale(1.1);
}
